
.amount{
  font-family: Arial;
  font-size:25px;
  font-weight:bold;
  margin-bottom:0;
}
.name{
  font-family:Arial;
  color: grey;
  font-size:12px
}
.today{
  color:green;
  font-family:Arial;
  margin-top:5px;
  margin-bottom:0;
}
.content{
  font-family:Arial;
  color:grey;
  margin-top:5px;
}
.percentage{
  color:red;
}