
.image{
        
        
        display: block;
        width:200px;
        
        margin-bottom:10px;
        margin-left: 150px;
      }
      input{
        color:rgb(100,100,100);
      
        border:none;
        border-radius:5px;
        padding-left:16px;
        padding-right:16px;
        padding-top:12px;
        padding-bottom:12px;
        width:500px;
        border-radius:30px;
      
        box-shadow:  5px 5px 10px rgba( 0,0,0 ,0.15);
      }