
.box{
      border-width:1px;
      border-style:solid;
      border-color:rgb(150,150,150);
      width:300px;
      padding-top:8px;
      padding-bottom:12px;
      padding-right:12px;
      padding-left:12px;
      
      
    }